<div class="rating-stars">
  <div class="default-stars">
    <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
    <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
    <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
    <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
    <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
  </div>
  <div class="crop" 
    [style.width.px]="ratingWidth">
    <div class="colored-stars">
      <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
      <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
      <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
      <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
      <fa-icon [icon]="starIcon" class="star-icon"></fa-icon>
    </div>
  </div>
</div>