<div class="big-carousel-section">
  <div class="carousel-container">
    <div class="arrow-controls-and-image">
      <div class="left-arrow" (click)="moveLeft()">
        <fa-icon [icon]="leftArrow" class="left-arrow-icon"></fa-icon>
      </div>
      <img *ngFor="let slide of slides, let i = index"
        loading="lazy" class="carousel-image" [src]="slide.image" [alt]="slide.title" 
        [@carouselAnimation]="currentIndex == i ? 'zoomOut' : 'none'">
      <div class="right-arrow" (click)="moveRight()">
        <fa-icon [icon]="rightArrow" class="right-arrow-icon"></fa-icon>
      </div>
    </div>
    <div class="controls">
      <div class="control-dot" *ngFor="let image of slides, let i = index"
        (click)="jumpToSlide(i)" [ngClass]="currentIndex == i ? 'active-slide' : 'non-active'"></div>
    </div>
  </div>
</div>