.client-dashboard-section{
  height: 100%;
  width: 100%;
}
.dashboard-row{
  max-width: 100%;
  display: flex;
  position: relative;
}
.side-navigation{
  height: 100vh;
  background-color: #14505B;
  padding: 50px 0px 20px 0px;
  position: fixed;
  width: 20%;
}
.section-container{
  height: 100vh;
  padding: 30px 0px 20px 0px;
  position: absolute;
  left: 20%;
  width: 80%;
}
.side-navigation-item{
  height: 60px;
  display: flex;
  padding-left: 30px;
  place-items: center;
  color: #929BA8;
}
.side-navigation-item:hover{
  color: #FFFF;
  background-color: #3c757f;
}
.side-nav-section-divider{
  margin: 20px 0px;
  background: #DFE0EB;
}
.side-nav-icon{
  margin-right: 15px;
}
.side-nav-text, .side-nav-icon{
  font-size: 16px;
  font-weight: 400;
}
.active-section{
  border-left: 3px solid #FFFF;
}
.specific-dashboard-section{
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}
.preloader-container{
  display: flex;
  place-content: center;
  place-items: center;
}
.hide-section{
  display: none;
}
.applied-section{
  border: 1.5px solid #DFE0EB;
  border-radius: 8px;
  height: fit-content;
  padding: 15px 0px 0px 0px;
}
.applied-bottom{
  display: flex;
  place-content: flex-end;
  place-items: center;
  height: 60px;
  padding: 0px 30px;
}
.actions-button{
  height: 50px;
  display: flex;
  margin: 0px;
  font-size: 14px;
  color: #9FA2B4;
}
.applied-top{
  display: flex;
  height: 60px;
  padding: 0px 30px;
  place-items: center;
  justify-content: space-between;
}
.sort-and-filter{
  display: flex;
}
.sort-or-filter-container{
  display: flex;
  place-items: center;
  margin-left: 25px;
}
.actions-button-text-top{
  margin: 0px;
  font-size: 14px;
  color: #4B506D;
  margin-left: 10px;
}
.top-icon{
  color: #9FA2B4;
  font-size: 14px;
}
.all-tickets-text{
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.table-divider{
 background: #DFE0EB;
}
.applied-content{
  width: 100%;
}
.applied-header, .row-contents{
  display: flex;
  padding: 0px 30px;
}
.row-contents{
  place-items: center;
  height: 80px;
}
.col-40-percent{
  width: 40%;
}
.col-14-percent{
  width: 14%;
}
.col-4-percent{
  width: 4%;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 16px;
}
.property-img-and-details{
  display: flex;
}
.table-heading{
  margin: 0px;
  font-size: 14px;
  color: #9FA2B4;
  margin-bottom: 10px;
}
.delete-record-button{
  background-color: red;
  border-radius: 20px;
  padding: 0px 25px;
  color: #FFFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
}
.more-vertical-icon{
  color: #9FA2B4;
  cursor: pointer;
}
.price-inner-div{
  display: flex;
  place-items: flex-start;
}
.price-colored{
  color: #2d9db2;
  font-weight: 600;
}
.table-data-text{
  font-size: 14px;
  margin: 0px;
}
.table-data-sub-text{
  font-weight: 400;
  font-size: 13px;
  color: #9FA2B4;
  margin: 0px;
}
.property-table-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.property-link{
  text-decoration: none;
  color: black;
}
.property-link:hover{
  cursor: pointer;
}
