<div class="client-dashboard-section">
  <div class="dashboard-row">
    <div class="side-navigation">
      <div class="side-navigation-item" [ngClass]="activeSection == 'find properties' ? 'active-section' : ''"
        (click)="switchSection('find properties')">
        <fa-icon [icon]="searchIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Find Properties</div>
      </div>
      <div class="side-navigation-item" [ngClass]="activeSection == 'already applied' ? 'active-section' : ''"
        (click)="switchSection('already applied')">
        <fa-icon [icon]="appliedIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Already applied</div>
      </div>
      <div class="side-navigation-item" [ngClass]="activeSection == 'conversations' ? 'active-section' : ''"
        (click)="switchSection('conversations')">
        <fa-icon [icon]="conversationsIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Conversations</div>
      </div>
      <div class="side-navigation-item" [ngClass]="activeSection == 'purchased properties' ? 'active-section' : ''"
        (click)="switchSection('purchased properties')">
        <fa-icon [icon]="purchaseIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Purchased Properties</div>
      </div>
      <div class="side-navigation-item" [ngClass]="activeSection == 'rented properties' ? 'active-section' : ''"
        (click)="switchSection('rented properties')">
        <fa-icon [icon]="rentedIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Rented Properties</div>
      </div>
      <div class="side-navigation-item" [ngClass]="activeSection == 'favorites' ? 'active-section' : ''"
        (click)="switchSection('favorites')">
        <fa-icon [icon]="favoritesIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Favorites</div>
      </div>
      <mat-divider class="side-nav-section-divider"></mat-divider>
      <div class="side-navigation-item" [ngClass]="activeSection == 'settings' ? 'active-section' : ''"
        (click)="switchSection('settings')">
        <fa-icon [icon]="settingsIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Settings</div>
      </div>
      <div class="side-navigation-item" [ngClass]="activeSection == 'logout' ? 'active-section' : ''"
        (click)="switchSection('logout')">
        <fa-icon [icon]="logoutIcon" class="side-nav-icon"></fa-icon>
        <div class="side-nav-text">Logout</div>
      </div>
    </div>
    <div class="section-container">
      <div class="specific-dashboard-section preloader-container" [ngClass]="recordsAreLoading ? '' : 'hide-section'">
        <mat-spinner [diameter]="loaderDiameter" [strokeWidth]="loaderWidth"></mat-spinner>
      </div>
      <div [hidden]="recordsAreLoading ? 'hide-section' : ''">
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
        <div class="specific-dashboard-section" *ngIf="activeSection == 'already applied'">
          <div class="applied-section">
            <div class="applied-top">
              <h4 class="all-tickets-text">All Tickets</h4>
              <div class="sort-and-filter">
                <div class="sort-or-filter-container">
                  <fa-icon [icon]="sortIcon" class="top-icon"></fa-icon>
                  <h4 class="actions-button-text-top">Sort</h4>
                </div>
                <div class="sort-or-filter-container">
                  <fa-icon [icon]="filterIcon" class="top-icon"></fa-icon>
                  <h4 class="actions-button-text-top">Filter</h4>
                </div>
              </div>
            </div>
            <div class="applied-content">
              <div class="applied-header">
                <div class="col-40-percent">
                  <h4 class="table-heading">Property</h4>
                </div>
                <div class="col-14-percent">
                  <h4 class="table-heading">Price</h4>
                </div>
                <div class="col-14-percent">
                  <h4 class="table-heading">Agent Name</h4>
                </div>
                <div class="col-14-percent">
                  <h4 class="table-heading">Active Since</h4>
                </div>
                <div class="col-14-percent">
                  <h4 class="table-heading">Delete</h4>
                </div>
                <div class="col-4-percent"></div>
              </div>
              <mat-divider class="table-divider"></mat-divider>
              <div class="mock-table-row" *ngFor="let property of appliedProperties">
                <div class="row-contents">
                  <div class="col-40-percent property-img-and-details">
                    <img loading="lazy" src="{{property.image}}" class="property-table-img">
                    <div>
                      <h4 class="table-data-text">{{property.name}}</h4>
                      <h4 class="table-data-sub-text">{{property.lastUpdate}}</h4>
                    </div>
                  </div>
                  <div class="col-14-percent">
                    <div class="price-inner-div">
                      <h4 class="table-data-text price-colored">₦{{property.price | number}}</h4>
                    </div>
                  </div>
                  <div class="col-14-percent">
                    <div>
                      <h4 class="table-data-text">{{property.agentName}}</h4>
                      <h4 class="table-data-sub-text">{{property.propertyUploadtime | date}}</h4>
                    </div>
                  </div>
                  <div class="col-14-percent">
                    <h4 class="table-data-text">{{property.activeSince | date}}</h4>
                  </div>
                  <div class="col-14-percent">
                    <button mat-button class="delete-record-button">Delete</button>
                  </div>
                  <div class="col-4-percent">
                    <fa-icon [icon]="moreVerticalIcon" class="more-vertical-icon"></fa-icon>
                  </div>
                </div>
                <mat-divider class="table-divider"></mat-divider>
              </div>
            </div>
            <div class="applied-bottom">
              <mat-paginator class="actions-button" [length]="propertyCount"
                [pageSize]="propertyPerPage" (page)="handlePageChange($event)"
                [pageSizeOptions]="[5, 10, 15, 20]" color="primary"
                aria-label="Select Page">
              </mat-paginator>
            </div>
          </div>
        </div>
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
        <div class="specific-dashboard-section" *ngIf="activeSection == ''"></div>
      </div>
    </div>
  </div>
</div>