.property-card{
  min-height: 460px;
  height: fit-content;
  max-width: 6000px;
  box-shadow: 0px 10px 30px rgb(45 157 178 / 28%);
  background: #FFFF;
  border-radius: 4px;
  border: 0px;
  margin: 20px 10px;
}
.property-card-img{
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 250px;
  transition: all .5s;
}
.property-card-img:hover{
  transform: scale(1.05);
}
.card-img-and-price{
  position: relative;
}
.property-title-and-view-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.property-view-listing-btn{
  padding: 0px 25px;
  border-radius: 2px;
  background-color: #2D9DB2;
  color: #FFFF;
}
.property-price-container{
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 75px;
  min-width: 135px;
  width: fit-content;
}
.listing-type{
  padding: 0px 15px;
  width: 100%;
  height: 30px;
  background-color: #CF2626;
  display: flex;
  place-content: center;
  place-items: center;
}
.listing-type > h4{
  color: #FFFF;
  margin: 0px;
  font-size: 16px;
}
.property-price{
  padding: 0px 15px;
  width: 100%;
  height: 45px;
  background-color: #FA983A;
  display: flex;
  place-content: center;
  place-items: center;
}
.property-price > h4{
  margin: 0px;
  font-size: 20px;
  color: #FFFF;
}
.property-card-content{
  padding: 15px 20px;
}
.property-card-title{
  font-size: 16px;
  margin: 0px;
  font-weight: 600;
}
.property-description{
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.property-location-container{
  display: flex;
  place-items: center;
}
.property-icon{
  margin-right: 10px;
  color: #FA983A;
  font-size: 18px;
}
.property-location{
  margin: 0px;
  font-size: 15px;
}
.property-highlights{
  height: 40px;
}
.property-highlights-bottom{
  display: flex;
  place-items: center;
  place-content: center;
}
.property-highlights-item{
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
}
.vertical-line{
  height: 30px;
  position: absolute;
  right: 0;
}

/* Tablet CSS */
@media only screen and (max-width: 825px) {
  .property-card-img{
    height: 200px;
  }
  .property-highlights-bottom{
    flex-direction: column;
  }
}


/* Mobile CSS */

@media only screen and (max-width: 480px) {
  .property-card{
    height: fit-content;
    width: 100%;
    box-shadow: 0px 10px 30px rgb(45 157 178 / 28%);
    background: #FFFF;
    border-radius: 4px;
    border: 0px;
    margin: 20px 0px;
  }
  .property-card-img{
    height: 190px;
  }
  .property-price-container{
    bottom: 10px;
    left: 10px;
    height: 55px;
    min-width: 100px;
    width: fit-content;
  }
  .listing-type{
    height: 25px;
  }
  .listing-type > h4{
    font-size: 13px;
  }
  .property-price{
    height: 30px;
  }
  .property-price > h4{
    font-size: 18px;
  }
  .property-description{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .property-view-listing-btn{
    margin-top: 10px;
  }
  .property-title-and-view-btn{
    flex-direction: column;
    place-items: flex-start;
  }
}