<div class="property-card">
  <div class="card-img-and-price">
    <img loading="lazy" class="property-card-img" [src]="propertyInfo.images[0].image" alt="Image of a building">
    <div class="property-price-container">
      <div class="listing-type">
        <h4>For {{propertyInfo.listingType}}</h4>
      </div>
      <div class="property-price">
        <h4>₦{{propertyInfo.price | number}}</h4>
      </div>
    </div>
  </div>
  <div class="property-card-content">
    <div class="property-title-and-view-btn">
      <h4 class="property-card-title">{{propertyInfo.title}}</h4>
      <button mat-flat-button class="property-view-listing-btn"
        [routerLink]="['/property', propertyInfo._id, propertyInfo.sellerId]">View Property</button>
    </div>
    <h4 class="property-description">{{propertyInfo.description}}</h4>
    <div class="property-location-container">
      <fa-icon class="property-icon" [icon]="locationIcon"></fa-icon>
      <h4 class="property-location">{{propertyInfo.location}}</h4>
    </div>
    <hr>
    <mat-grid-list class="property-highlights" cols="4" rowHeight="fit" gutterSize="5px">
      <mat-grid-tile>
        <div class="property-highlights-bottom">
          <fa-icon class="property-icon" [icon]="bedIcon"></fa-icon>
          <h4 class="property-highlights-item">{{propertyInfo.highlights.bedsCount}} Bed(s)</h4>
          <mat-divider class="vertical-line" [vertical]="true"></mat-divider>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="property-highlights-bottom">
          <fa-icon class="property-icon" [icon]="bathIcon"></fa-icon>
          <h4 class="property-highlights-item">{{propertyInfo.highlights.bathsCount}} Bath(s)</h4>
          <mat-divider class="vertical-line" [vertical]="true"></mat-divider>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="property-highlights-bottom">
          <fa-icon class="property-icon" [icon]="roomIcon"></fa-icon>
          <h4 class="property-highlights-item">{{propertyInfo.highlights.roomsCount}} Room(s)</h4>
          <mat-divider class="vertical-line" [vertical]="true"></mat-divider>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="property-highlights-bottom">
          <fa-icon class="property-icon" [icon]="landIcon"></fa-icon>
          <h4 class="property-highlights-item">{{propertyInfo.highlights.landArea}} sq</h4>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
