/* You can add global styles to this file, and also import other style files */
* {
  font-family: Mulish !important;
}
.container-fluid{
  max-width: 90%;
}
html, body { height: 100%; }
body { margin: 0; box-sizing: border-box; }