<!-- creates an empty div to fill up nav space -->
<div class="extra-pad" [ngClass]="navBarIsSticky ? '' : 'hide'"></div>

<header (window:scroll)="stickyNavBar()" [ngClass]="navBarIsSticky ? 'sticky-box-shadow' : ''">
  <!-- use the sticky-box-shadow class -->
  <!-- may use sticky nav and increase initial bundle budget -->
  <div class="container-fluid">
    <div class="row navbar-row">
      <div routerLink="/" (click)="setTitle('Find-Property | Don\'t buy a house, buy a home')" class="logo-container col-md-4">
        <img loading="lazy" class="logo" [src]="logoLocation" alt="Company's Logo">
      </div>
      <div class="nav-bar-toggler" (click)="toggleNav()" 
        *ngIf="isLoggedIn == false">
        <div class="toggler-1" [@hamburgerAnimation-top]="navIsOpen ? 'crossed' : 'flat'"></div>
        <div class="toggler-2" [@hamburgerAnimation-mid]="navIsOpen ? 'hidden' : 'visible'"></div>
        <div class="toggler-3" [@hamburgerAnimation-bottom]="navIsOpen ? 'crossed' : 'flat'"></div>
      </div>
      <div class="col-md-8 nav-items-container" [@responsiveNav]="navIsOpen ? 'open' : [ isMobile ? 'closed' : '' ]"
        *ngIf="isLoggedIn == false">
        <mat-divider class="nav-divider-top"></mat-divider>
        <button [disableRipple]="true" mat-button class="nav-btn"
          (click)="setTitle('Find-Property | Don\'t buy a house, buy a home')" routerLink="/">
          <a class="nav-btn-anchor">Home</a>
        </button>
        <mat-divider class="nav-divider"></mat-divider>
        <button [disableRipple]="true" mat-button class="nav-btn"
          (click)="setTitle('Find a Home Quickly | Find-Property')" routerLink="/">
          <a class="nav-btn-anchor">Find a Property</a>
        </button>
        <mat-divider class="nav-divider"></mat-divider>
        <button [disableRipple]="true" mat-button class="nav-btn"
          (click)="setTitle('Top Offers | Find-Property')" routerLink="/">
          <a class="nav-btn-anchor">Top Offers</a>
        </button>
        <mat-divider class="nav-divider"></mat-divider>
        <button [disableRipple]="true" mat-button class="nav-btn"
          (click)="setTitle('Company Info | Find-Property')" routerLink="/">
          <a class="nav-btn-anchor">About Us</a>
        </button>
        <mat-divider class="nav-divider"></mat-divider>
        <button mat-button class="nav-btn"
          (click)="setTitle('Sign In | Find-Property')" routerLink="/sign-in">
          <a class="nav-btn-anchor">Sign In</a>
        </button>
        <mat-divider class="nav-divider"></mat-divider>
        <button mat-flat-button class="nav-btn login-btn"
          (click)="setTitle('Sign Up | Find-Property')" routerLink="/sign-up">
          <a class="nav-btn-anchor">Sign Up</a>
        </button>
      </div>
      <div class="col-md-8 nav-profile-container" *ngIf="isLoggedIn">
        <fa-icon [icon]="searchIcon" class="search-icon"></fa-icon>
        <div class="notification-container">
          <fa-icon [icon]="notificationIcon" class="notification-icon"></fa-icon>
          <div class="notification-dot" *ngIf="thereIsNotification"></div>
        </div>
        <mat-divider [vertical]="true" class="profile-divider"></mat-divider>
        <div class="profile-avatar-and-name">
          <h4 class="profile-name">{{ profileDisplayName }}</h4>
          <div class="profile-img-container">
            <img loading="lazy" [src]="profileImg" [alt]="profileImgAlt" class="profile-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- provides a division for the header -->
  <hr class="blue-header-seperator" *ngIf="!(navigationIsLoading$ | async)">

  <!-- preloader during navigation, make nav errors pop up in the view without destroying all the elements -->
  <mat-progress-bar mode="indeterminate" *ngIf="navigationIsLoading$ | async"></mat-progress-bar>
</header>