@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header{
  height: 100px;
  width: 100%;
  background-color: #FFFF;
  z-index: 10;
}
.navbar-row{
  height: 100px;
}
.logo-container{
  display: flex;
  height: 100%;
  place-items: center;
  /* width: fit-content; */
}
.logo{
  height: 60px;
  width: 200px;
}
.nav-items-container{
  display: flex;
  place-content: flex-end;
  place-items: center;
}
.nav-btn{
  margin: 0px 10px;
  padding: 3px 15px;
  width: fit-content;
  color: #141B2D;
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-btn-anchor{
  text-decoration: none;
  color: inherit;
}
.login-btn{
  color: #FFFF;
  padding: 10px 20px;
  background-color: #0B505E;
  height: 40px;
  width: 90px;
  display: flex;
  place-content: center;
  place-items: center;
}
.sticky-box-shadow{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.nav-bar-toggler{
  display: none;
}
.nav-divider, .nav-divider-top{
  display: none;
}
.blue-header-seperator{
  color: #2D9DB2;
  height: 2px;
  width: 100%;
  margin: 0px;
}

/* Tablet CSS */
@media only screen and (max-width: 825px) {
  header{
    height: 85px;
  }
  .navbar-row{
    height: 85px;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
  }
  .nav-divider-top{
    margin: 0px 0px 5px 0px;
    padding: 0;
  }
  .nav-items-container{
    height: 0px;
    position: absolute;
    display: list-item;
    list-style: none;
    top: 85px;
    left: 0;
    width: 100vw;
    background-color: #FFFF;
    z-index: 10;
    overflow: hidden;
  }
  .nav-bar-toggler{
    display: flex;
    flex-direction: column;
    place-items: flex-end;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-right: 10px;
  }
  .toggler-1, .toggler-2, .toggler-3{
    background-color: #14505B;
    height: 4px;
    border-radius: 2px;
  }
  .toggler-1{
    width: 22px;
    margin-bottom: 2px;
  }
  .toggler-2{
    width: 33px;
    margin: 2px 0px;
  }
  .toggler-3{
    margin-top: 2px;
    width: 28px;
  }
  .logo-container{
    width: fit-content;
  }
  .nav-divider{
    display: block;
    margin: 10px 0px;
  }
}

/* Mobile CSS */

@media only screen and (max-width: 480px) {
  header{
    height: 65px;
  }
  .navbar-row{
    height: 65px;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
  }
  .nav-items-container{
    top: 65px;
  }
  .nav-divider-top{
    margin: 0px 0px 7px 0px;
    padding: 0;
  }
  .logo{
    height: 40px;
    width: 150px;
  }
}

/* Laptop and screen sizes greater */
@media only screen and (min-width: 826px) {
  .nav-items-container{
    height: 100% !important;
  }
}